body{
    font-family: 'Inter', sans-serif;
    background-color: rgb(183, 183, 183);
    padding-top: 80px;
}

body header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
}

header nav{
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    background-color:  white;
}
header nav .container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header nav .header-logo{
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-left: 130px;
}
header nav .header-list{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 16px;
    padding-right: 180px;
}
header nav .header-list li a{
    color: rgba(88, 94, 101, 1);
    text-decoration: none;
}
header nav .header-list li a:hover{
    color: rgba(76, 110, 245, 1);
}
header nav .container #pesquisa{
    border-radius: 8px;
    border-color: rgba(88, 94, 101, 1);
    width: 50%;
    height: 20px;
}

header nav .header-button{
    margin-right: 148px;
    width: 145px;
    height: 40px;
    font-size: 14px;
    border: none;
    border-radius:  8px;
    color: white;
    background-color: rgba(76, 110, 245, 1);
}
header nav .header-button:hover{
    background-color: rgb(38, 54, 119);
    
}

/*--------------MAIN----------------*/

main .container{
    margin: 34px 148px 0px 130px;
}

main .container ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
main .container ul .box{
    width: 374px;
    height: 500px;
    background-color: white;
    border-radius: 8px;
}